{% extends 'base.html' %}
{% block content %}


<h3 class="text-center" id="profile">Welcome to {{user_to_visit.email}}'s profile!</h3>
<ul class="list-unstyled">
  {% for image in images %}
  <div class="each-image">
    <li class="user-image-list">
        <div class="row">
          <div class="col-6 col-sm-3">
            <div class="image-name text-center">{{ image.name }}</div>
              <img src="{{image.s3_path}}" width="200" height="150">
              </img>
          </div>
        </div>
      </li> 
  </div>
{% endfor %}
</ul>

{% endblock content %}